* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: hsl(229, 57%, 11%);
    height: 100vh;
    max-width: 100%;
    background-image: url(./images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 500px;

}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-1 {
    width: 300px;
    height: 180px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 100px 10px 10px;
    padding: 40px 40px;
}

button {
    background-color: hsl(229, 57%, 11%);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    vertical-align: top;
    margin-top: 20px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
}

.container-2 {
    background-color: hsl(228, 56%, 26%);
    width: 550px;
    height: 150px;
    margin-left: 20px;
    margin-top: 25px;
    border-radius: 10px;
    padding: 30px;
    color: white;
}

.remaining {
    font-weight: bold;
}

.usage-fill {
    background-color: hsl(229, 54%, 18%);
    width: 450px;
    height: 20px;
    border-radius: 1000px;
    border: 3px solid hsl(229, 54%, 18%);
    position: relative;
    margin-top: 10px;
}

.usage-bar {
    width: 81.5%;
    height: 100%;
    border-radius: 1000px;
    background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

.usage-ball {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    right: calc(18.5% + 1px);

}

.usage-numbers {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

}

.usage-left {
    background-color: white;
    height: 60px;
    width: 150px;
    border-radius: 10px 10px 0 10px;
    color: hsl(229, 54%, 18%);
    display: flex;
    padding: 20px;
    position: absolute;
    left: 61%;
    bottom: 55%;
    
}
.usage-left::after{
    content: "";
    background-color: #fff;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    bottom: -20px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.numbers {
    font-size: 25px;
    font-weight: bold;
}

.gb {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 5px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.8;
}
@media all and (max-width: 900px){
  body{
      height: 100vh;
      width: 100%;
      background-image: url(./images/bg-mobile.png);
      background-size: cover;
      background-position: initial;
      overflow: hidden;
  }
  .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  .container-1{
      width: 90%;
      margin: 10px auto;
  }
.container-2{
    width: 90%;
    margin: 10px auto;
}
.usage-fill{
    width: 90%;
}
.usage-left{
    position:absolute;
    top: 65%;
    left: 30%;
    border-radius: 10px;
}
.usage-left::after{
    visibility: hidden;
}
}
@media all and (max-width:1780px)  and (min-width: 900px){
    body{
        height: 100vh;
        width: 100%;
    }
    .usage-left{
        position:relative;
        top: -150px;
        left: calc(71% - 50px);
        border-radius: 10px 10px 0 10px;
    }

}